.popup
  %h3.title= t('add_child')
  - form_tag factory_link_for(@page), :method => :get do
    %label{:for => 'page_page_factory'} Template:
    = select_tag :page_factory, options_for_select(factory_options)
    %p.buttons
      = submit_tag t('add_child')
      = t('or')
      = link_to_function t('cancel'), "$(this).closePopup()"